<h1>Flickr Photostream</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :flickr_id, "flickr ID" %>
  <%= form.text_field :flickr_id %>

  <%= form.submit "Search" %>

<% end %>

<% if params[:flickr_id].blank? %>
  <h2>Recently uploaded photos:</h2>
<% else %>
  <h2>Photos by <%= (@flickr.people.getInfo user_id: params[:flickr_id]).username %></h2>
<% end %>

<% @photos.each do |photo| %>
  <img src="<%= Flickr.url_q(photo) %>">
<% end %>